/*
  DUNKELANGST.DE
  © copyright 2017
  Design, Artwork and Code made with <3 by Lars Natus
*/

/* GENERAL */

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class='col'],
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.btn-da {
  background: #4631AD;
  color: #FFF;
}

.btn-da:hover {
  background: #503BB8;
}

.da-branding {
  color: #4631AD;
}

/* FONTS */

body {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  font-size: 1.4rem;
}

h3 {
  font-weight: 100;
  font-size: 1.2rem;
}

.da-dagger {
  font-size: 0.8rem;
  vertical-align: top;
}

/* SPACER */

.da-space-0 {
  margin: 0;
}

.da-space-xs {
  margin-bottom: 15px;
}

.da-space-s {
  margin-bottom: 30px;
}

.da-space-m {
  margin-bottom: 60px;
}

.da-space-l {
  margin-bottom: 90px;
}

.da-space-xl {
  margin-bottom: 180px;
}

/* LAYOUT */

.da-box {
  width: 100%;
  padding: 30px 90px 90px 90px;
  height: 100%;
}

.da-box.da-box-secondary {
  text-align: center;
  background: #E5E8F7;
  color: #444;
}

.da-box.da-box-primary {
  background: #4631AD;
  color: #FFF;
}

.da-logo-primary {
  margin-bottom: 180px;
}

.da-logo-secondary {
  height: 60px;
}

.da-brush-container {
  position: relative;
  width: 250px;
  color: #FFF;
}

.da-brush-container.da-brush-container-center {
  left: 50%;
  margin: 60px 0 60px -125px;
}

.da-brush-container .da-brush,
.da-brush-container h2 {
  position: absolute;
}

.da-brush-container h2 {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

.da-nav {
  max-width: 100%;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 180px;
  font-size: 0.8rem;
  border-bottom: 1px solid #503BB8;
}

.da-nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.da-nav ul li:last-of-type {
  margin-right: 0;
}

.da-nav ul li a,
.da-nav ul li a:hover {
  color: #FFF;
  text-decoration: none;
}

.da-dad {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  position: absolute;
  right: -70px;
  z-index: 100;
}

.da-gallery img,
.da-life img {
  border: 10px solid #FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  margin-bottom: 30px;
}

.da-ribbon {
  padding: 30px;
  background: #4631AD;
}

.da-ribbon .da-nav {
  margin-bottom: 0;
}

footer {
  width: 100%;
  margin-top: 180px;
  background: #4631AD;
  padding: 30px 30px 0 30px;
  color: #fff;
  font-size: 0.8rem;
}

footer img {
  margin-bottom: 30px;
}

footer a {
  color: #FFF;
}

footer a:hover {
  color: #503BB8;
  text-decoration: none;
}

footer p {
  margin: 0;
  text-align: right;
}

/* MEDIA */

@media (max-width: 768px) {
  nav {
    display: none;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .da-dad {
    position: initial;
    margin-top: 90px;
  }
  .da-logo-primary {
    margin-bottom: 90px;
  }
  .da-brush-container {
    margin-left: -30px;
  }
 }
